<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href=" {{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href=" {{ asset('app/bootstrap/css/bootstrap.css')}}" />
        <link rel="stylesheet" href=" {{ asset('app/fontawesome/css/all.css') }}" >
    </head>

    <body>
        {% block body %}{% endblock %}
            <script src=" {{ asset('app/js/jquery.js') }}" ></script>
            <script src=" {{ asset('app/bootstrap/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>